/* Reset default browser styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Set body background and font styles */
body {
	font-family: Arial, sans-serif;
	background-color: #7611fa;
}

/* Style the header */
header {
	background-color: #310bb9;
	color: #1ada54;
	padding: 10px;
}

/* Style the navigation links */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: rgb(18, 63, 121);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #102999;
	color: rgb(10, 177, 99);
}

/* Style the hero section */
.hero {
	background-image: url('hero.jpg');
	background-size: cover;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #18f7ac;
}

/* Style the project section */
.projects {
	background-color: #235e85;
	padding: 20px;
	margin: 20px;
	border: 1px solid #10ce29;
}

/* Style the about me section */
.about-me {
	background-color: #1923ac;
	padding: 20px;
	margin: 20px;
	border: 1px solid #12ad34;
}